.container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 1px;
    max-height: 52vh;
    max-width:52vw ;
    width: 52vw;
    padding: 10px;
    border-color: blue;
    background-color: orangered;
    border: 1px solid black;

}
.grid-item {
    background-color: black;
    border: 1px solid white;
    font-size: 30px;
    text-align: center;
    color: orangered;
}
.button{
    background-color: black;
    color: orangered;
    height: 100%;
    width: 100%;
    font-size: 30px;
    cursor: pointer;
}

#display{
    width: 52vw;
    height: 4vh;
    max-width:52vw ;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px ;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
}

.flex{
    margin: 2vh;
    margin-left: 28vw;
    margin-right: 28vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    border: 2px solid black;
}

