#div{
    border-width: thick;
    border-style: double;
    border-color: black;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 2%;
}
#footer{
    margin-left: 25%;
    margin-right: 25%;
}

#img{   
    padding: 2.5px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 5px 5px black;
}
#size{
    font-size: large;
}
#box{
    border-top-width: thick;
    border-style: double;
    border-color: black;
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.fade-in-image{    
      animation: fadeIn 5s;
    }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
 }  

 