#logo{
    text-decoration: none;
    color: black;
}

#head{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    font-size: 2vw;
    flex-wrap: wrap;
}


#logo_name_pg2{
    display: flex;
    align-items: center;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-style: normal;
}

#Login_pg2,#Cart_pg2{
    border:0.7px groove;
    border-radius: 5px;
    box-shadow: 0 1px 1px;
    font-size:30px;
    width: 200px;
    background-color: white;
    z-index: 2;
}

#Dots_pg2{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 30px;
    z-index: 0;
}
#search{
    background-color: rgb(252, 248, 248);
    border: 0.7px groove;
    height: 40px;
    width: 52%;
    box-shadow: 0 1px 2px;
    border-radius: 10px;
    font-size: 30px;
    margin-right: 0;
}

#search_button{
    background-color: transparent;
    border: none;
    position: absolute;
    left:64%;
    cursor: pointer;
}


.card_1{
    display: none;
    position: absolute;
    top: 8.8%;
    left: 75%;
    transform: translateX(-50%);
   padding: 15px;
   background-color: white;
   opacity: 95%;
   border: 1px solid black;
   border-radius: 5px;
   z-index: 1;
   transition: opacity 0.3s ease;
   font-size: 20px;
}
.container_1:hover .card_1{
display: block;
}


.card_2{
    display: none;
    position: absolute;
    top: 8.8%;
    left: 90%;
    transform: translateX(-50%);
   padding: 15px;
   background-color: white;
   opacity: 95%;
   border: 1px solid black;
   border-radius: 5px;
   z-index: 1;
   transition: opacity 0.3s ease;
   font-size: 20px;
   width: 225px;
}
.container_2:hover .card_2{
    display: block;
}


.Bottom{
    opacity: 50%;
    font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

span{
    font-size: 19px;
}


.footer{
    display: flex;
    flex-direction: row;
   
    justify-content: center;
    gap: 35px;
    background-color: black;
    color: white;
}

.foot{
    text-decoration: none;
    color: white;
    opacity: 90%;
}

.foot:hover{
    text-decoration: underline;
}

.opc{
    opacity: 50%;
    color: white;
}


 
#layer2{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#layer_2_button{
 display: flex;
 font-size: 20px;
background-color: transparent;
border: none;
}

#layer_3{
    display: flex;
    background-color: white;
}


#layer3_text{
    padding: 40px;
    font-size: 20px;
    text-align: left;
    border: none;
    background-color: transparent;
}

#layer3_image{
    padding: 15px;
    height: 750px;
}

#layer3_Button{
    background-color: transparent;
    border:none;
}

#add_to_cart{
    border-radius: 10px;
    border: none; 
    background-color: rgba(255, 166, 0, 0.576);
    font-size: 40px;
    position: absolute;
    left: 80px;
    top: 900px;
}

#buy_now{
    border-radius: 10px;
    border: none; 
    background-color: rgba(255, 166, 0, 0.576);
    font-size: 40px;
    position: absolute;
    left: 380px;
    top: 900px;
}

span{
    color: blue;
}